<div id="bottom-wapper">
    <div class="bottom">
        <div class="bot">
            <ul>
                <li><a href="index.html">网站首页</a></li>
                <li><a href="index01.html">关于我们</a></li>
                <li><a href="#">产品展示</a></li>
                <li><a href="#">客户案例</a></li>
                <li><a href="#">新闻资讯</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">解决方案</a></li>
                <li><a href="#" style="border-right:none">联系我们</a></li>
            </ul>
        </div>
        <p>Copyright&copy;2002-2015 上海机械设备服务有限公司 版权所有 Power by DedeCms</p>
        <p>电话:1591879820 E-mail:89898989@qq.com 地址:上海市沙河广园东路1858新天地服装城</p>
    </div>
</div>
</body>
</html>