<%include ../base/header.ejs%>

<%include ../base/headertop.ejs%>
<div class="container-fluid">
    <div class="row">
        <%include ../base/leftnav.ejs%>
        <div class="col-sm-10"><h1 class="text-center" style="color:#428bca;">欢迎进入1709班学员管理系统</h1></div>
    </div>
</div>

</body>
</html>