<div class="col-sm-2">
  <a href="#" class="list-group-item active">轮播图管理</a>
  <a href="/admin/facous" class="list-group-item">轮播图管理</a>
  <a href="/admin/addfacous" class="list-group-item">添加轮播图</a>
  <a href="/admin/addpartner" class="list-group-item">添加合作伙伴图</a>
  <a href="#" class="list-group-item active">导航管理</a>
  <a href="/admin/nav" class="list-group-item">导航管理</a>
  <a href="/admin/addnav" class="list-group-item">添加导航</a>
  <a href="#" class="list-group-item active">学员管理</a>
  <a href="/admin/userlist" class="list-group-item">学员列表</a>
  <a href="/admin/add" class="list-group-item">增加学员</a>
  <a href="#" class="list-group-item active">案例管理</a>
  <a href="/admin/case" class="list-group-item">案例列表</a>
  <a href="/admin/addcase" class="list-group-item">添加案例</a>
  <a href="/admin/catecase" class="list-group-item">案例分类</a>
  <a href="/admin/addcatecase" class="list-group-item">添加分类</a>  
  <a href="#" class="list-group-item active">新闻管理</a>
  <a href="/admin/news" class="list-group-item">新闻列表</a>
  <a href="/admin/addnews" class="list-group-item">添加新闻</a>
  <a href="/admin/newscate" class="list-group-item">新闻分类</a>
  <a href="#" class="list-group-item">添加分类</a>
</div>